.home {
    padding: 20px 40px;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

.home header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home header div {
    width: 45%;
    padding: 50px 0;
}

.home header div h1 {
    font-size: 30px;
    font-weight: 600;
}

.home header div > p {
    font-size: 14px;
    font-weight: 300;
    margin: 15px 0;
    width: 80%;
}

.home header div button {
    background-color: #f6ae32;
    border: none;
    padding: 15px 35px;
    border-radius: 7px;
    font-family: "Montserrat", sans-serif;
    margin: 30px 0;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
    &:hover {
        background-color: #C98728;
    }
}

.home header .landing-info ul {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.home header .landing-info ul li {
    margin: 15px 0;
    font-size: 14px;
}

.home header .landing-info ul li h2 {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
}

.home header .landing-info ul li h2 span {
    color: #f6ae32;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    font-size: 15px;
}

.home header .landing-info ul li p {
    font-weight: 700;
    font-size: 13px;
}

.home header .landing-food {
    background-image: url(../assets/jollof-bg-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.short-categories {
    margin: 15px 0;
}

.short-categories header a{
    color: #f6ae32;
    font-size: 14px;
    text-decoration: underline;
}

.short-categories .short-menu {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    display: flex;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.short-categories .short-menu div {
    width: 300px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.food-image, .shawarma, .coconut-rice, .ewa-agoyin, .fried-rice, .amala, .pasta {
    height: 270px;
    width: 100%;
    background-image: url(../assets/jollof-bg-removebg-preview.png);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6e6e6;
    &.shawarma {
    background-image: url(../assets/shawarma.png);
    background-size: 200px;
    }
    &.coconut-rice {
        background-image: url(../assets/coconut-rice.png);
    }
    &.ewa-agoyin {
        background-image: url(../assets/ewa-agoyin.png);
    }
    &.fried-rice {
        background-image: url(../assets/fried-rice.png);
    }
    &.amala {
        background-image: url(../assets/amala.png);
    }
    &.pasta {
        background-image: url(../assets/pasta.png);
    }
}


.short-menu div .food-info{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    padding: 10px 0;
    color: #000;
    border-top: 1px solid #000;
    background-color: #e6e6e6;
    box-sizing: border-box;
    padding: 7px;
}

.food-info aside h1 {
    font-size: 15px;
    font-weight: 500;
}

.food-info p {
    font-size: 13px;
    color: #7a7a7a;
}

.food-info h2 {
    font-size: 25px;
    color: #fac172;
    font-weight: 600;
    transition: 400ms;
    padding: 0 5px 0 5px;
    cursor: pointer;
    &:hover {
        color: #C98728;
    }
}

@media (max-width: 850px) {
    .home header div > p {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .home {
        padding: 20px 10px;
    }
    .home header div {
        padding: 20px 0;
    }
    .home header .landing-info {
        width: 100%;
    }
    .home header .landing-food {
        width: 100%;
        height: 400px;
        background-image: url(../assets/jollof_rice_square.webp);
        background-size: cover;
    }
    .home header .landing-info ul {
        margin-top: 10px;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
